body {
  position: relative;
  background: -webkit-linear-gradient(
      top,
      transparent 68px,
      rgba($dark, 0.16) 70px
    ),
    -webkit-linear-gradient(left, transparent 68px, rgba($dark, 0.16) 70px);
  background-size: 4.375rem 4.375rem;
  background-color: $secondary;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
