.circle {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #de4b63;
  border: 1px solid #707070;
  border-radius: 50%;
}

.circle-1 {
  background-color: #faa722;
}

.circle-2 {
  background-color: #83c51d;
}
