.toast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 2rem;
  z-index: 99;
  @include media-breakpoint-up(md) {
    align-items: flex-end;
  }
  .toast {
    display: block;
  }
}

// display: flex;
// justify-content: center;
// position: fixed;
// top: 2rem;
// width: 100%;
// z-index: 99;
// @include media-breakpoint-up(md) {
//   justify-content: flex-end;
// }
