.hoverBtn {
  &:hover,
  &:focus {
    background-color: $warning;
    color: $dark;
  }
}

.customFileBtn {
  input[type="file"] {
    display: none;
  }
  label {
    display: inline-block;
    padding: 0.25rem 1.5rem;
    background: $dark;
    border: 2px solid $dark;
    color: $white;
    cursor: pointer;
    &:hover {
      background: $white;
      color: $dark;
    }
  }
}
