.thumbnail {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  border: 2px solid $dark;
}

.thumbnail-xxl {
  width: 6.75rem;
  height: 6.75rem;
}

.thumbnail-xl {
  width: 3.125rem;
  height: 3.125rem;
}

.thumbnail-lg {
  width: 2.5rem;
  height: 2.5rem;
}

.thumbnail-sm {
  width: 1.875rem;
  height: 1.875rem;
}

.bgCover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgCover-lg {
  width: 100%;
  height: 9.75rem;
}

.bgCover-sm {
  width: 5rem;
  height: 5rem;
}
