.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: $secondary;
  border: $dark 2px solid;
  box-shadow: $box-shadow-lg;
}

@include media-breakpoint-up(md) {
  .signin {
    padding: 3rem;
  }
  .signinForm {
    min-width: 23.5rem;
  }
}
