.aside {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 97;
}

.asideContent {
  max-width: 28rem;
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
  background: $secondary;
  border: 2px solid $dark;
  border-radius: 2rem;
}

.asideList {
  padding: 0 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  li:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.asideLink {
  display: flex;
  align-items: center;
  min-width: 3.125rem;
  color: $dark;
  &:hover,
  &.active {
    color: $primary;
    .asideLinkIcon {
      background-color: $primary;
      color: $white;
    }
  }
}

.asideLinkIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  background-color: $white;
  border: 2px solid $dark;
  border-radius: 50%;
  font-size: 1.25rem;
}

@include media-breakpoint-up(lg) {
  .aside {
    position: sticky;
    top: 3rem;
    bottom: auto;
    left: auto;
    right: auto;
  }
  .asideContent {
    display: block;
    margin: 0;
    padding: 2rem 1.5rem;
    background: $white;
    border-radius: 0;
  }
  .asideList {
    flex-direction: column;
    align-items: flex-start;
  }
  .asideLinkIcon {
    background-color: $info;
  }
}
